 <div class="sidebar">

                        <h3 class="sidebar-title">Search</h3>
                        <div class="sidebar-item search-form">
                            <form method="GET" action="{% url 'posts:blog-list' %}">
                                <input type="text" name="q" >
                                <button type="submit"><i class="icofont-search"></i></button>
                            </form>

                        </div>
                        <!-- End sidebar search formn-->

                        <h3 class="sidebar-title">Categories</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                {% for cat in categories %}
                                <li><a href="#">{{cat}} <span>({{cat.post_count}})</span></a></li>
                                {% endfor %}
                            </ul>

                        </div>
                        <!-- End sidebar categories-->

                        <h3 class="sidebar-title">Recent Posts</h3>
                        {% for recent_post in recent_post %}
                        <div class="sidebar-item recent-posts">
                            <div class="post-item clearfix">
                                <img src="{{recent_post.image.url}}" alt="">
                                <h4><a href="blog-single.html"> {{recent_post.title}}</a></h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- End sidebar recent posts-->

                        <h3 class="sidebar-title">Tags</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                <li><a href="#">App</a></li>
                                <li><a href="#">IT</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Mac</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Office</a></li>
                                <li><a href="#">Creative</a></li>
                                <li><a href="#">Studio</a></li>
                                <li><a href="#">Smart</a></li>
                                <li><a href="#">Tips</a></li>
                                <li><a href="#">Marketing</a></li>
                            </ul>

                        </div>
                        <!-- End sidebar tags-->

                    </div>